<style>
  img{
    height: 400px;
    margin-top: 5px;
    object-fit: cover;
  }
</style>

<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://res.cloudinary.com/dw3oc9xrx/image/upload/v1681104505/photo-1543269865-0a740d43b90c_4_l08n0m.avif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h4>First slide label</h4>
        <p style="color: blue;"> <b>A One Stop Place For All Your Tech Needs!</b></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dw3oc9xrx/image/upload/v1681105794/photo-1487611459768-bd414656ea10_5_pwiwvh.avif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h4 style="color:grey;">Second slide label</h4>
        <p style="color: black;"> <b> A One Stop Place For All Your Tech Needs!</b></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dw3oc9xrx/image/upload/v1681104755/Acessories-For-website-home-page-1_4_ic1ne3.png" class="d-block w-100" alt="">
      <div class="carousel-caption d-none d-md-block">
        <h4>Third slide label</h4>
        <p style="color: chocolate;"> <b>A One Stop Place For All Your Tech Needs!</b></p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>